/*TopPage２.htmlのCSS記述*/
* {
  margin: 0;
  padding: 0;
}
body {
  height: 2200px;
}
/*ヘッダーtopPage部分*/
.container-TopPage {
  position: fixed;
  top: 0em;
  height: 200px;
  background-color: #7ECF00;
  display: flex;
  width: 100%;
  z-index: 100000;
}
#sc_logo_2 {
  position: absolute;
  top: 50px; left: 50px;
}
#facebook_icon {
  position: absolute;
  top: 25px; left: 180px;
}
#twitter_icon {
  position: absolute;
  top: 80px; left: 180px;
}
.header_container {
  margin-left: 300px;
}
.header_container h2 {
  color: white;
  font-size: 25px;
  margin-top: 40px;
  font-family: "Helvetica Neue",
  Arial,
  "Hiragino Kaku Gothic ProN",
  "Hiragino Sans",
  Meiryo,
  sans-serif;
}
.header_container p {
  font-size: 13px;
  margin-left: 0;
  color: white;
  margin-top: 10px;
}
a img{
  position: absolute;
  top: 4em;right: 2em;
}

/*メインページ部分*/
.main-container {
  
}
.main-container img {
  transform: scale(1.2);
  position: absolute;
  top: 20rem; left: 15rem;
  padding: -10px;
  z-index: 0;
}
.main-container p {
  margin-top: 20rem;
  margin-left: 21.5rem;
  font-size: 18px;
  font-weight: bold;
}
/*メインページ部分ここまで*/

/*フッダー部分*/
.container-fooder {
  height: 170px;
  width: 100%;
  background-color: #7ECF00;
  position: absolute;
  bottom:-100rem;
}
.container-fooder p {
  text-align: center;
  color: white;
  padding-top: 4em;
}

/*スクロールバー部分*/
.btn {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    background-color: #7ECF00;
    border-radius: 10px;
    position: absolute;
    top: 55rem; right: 2em;
    height: 40px;
    width: 40px;
    cursor:pointer;
    border: solid 3px white;
    float: right;
    margin-right: 20px; 
}
.btn::before {
    content:  '';
    width: 20px;
    height: 20px;
    display:  block;
    border-top: solid 2px;
    border-right: solid 2px;
    transform: rotate(-45deg);
    position:  absolute;
    top: 10px;
    bottom:  0;
    left:  0;
    right:  0;
    margin: auto;
}
/*スクロールバー部分終わり*/

